@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/src/assets/fonts/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hero-scroll {
  animation: scrollImages 30s linear infinite;
  display: flex;
  gap: 16px;
  min-width: max-content
}

.dot {
  position: relative; /* Set position relative to allow absolute positioning of the dot */
}

.dot::before {
  content: ''; /* No text content, just the dot */
  position: absolute; /* Position it absolutely relative to the p element */
  top: 0;
  left: -3px;
  width: 6px; /* Width of the dot */
  height: 6px; /* Height of the dot */
  border-radius: 50%; /* Make it a circle */
  background-color: white; /* Set the color of the dot to white */
}

#building .scroll {
  -ms-overflow-style: none;  /* For Internet Explorer */
  scrollbar-width: none; /* For Firefox */
}

#building .scroll::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit-based browsers */
}